

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'react-quill/dist/quill.snow.css';
@import 'react-quill/dist/quill.bubble.css';

@layer components {
  .ql-container {
    font-size: 15px !important;
    border: none !important;
  }
  .ql-toolbar {
    border: none !important;
  }
  html {
    scroll-behavior: smooth;
  }
  button {
    @apply border bg-white text-blue-500 text-xs rounded-lg px-2 py-1 hover:bg-blue-700 hover:text-white m-1 hover:border-transparent
  }

  input,textarea {
    @apply border rounded-lg  p-1 m-1 border-b-4 focus:outline-blue-500
  }

  .delete{
    @apply border hover:bg-red-500 hover:text-white text-red-500
  }

  *{
    @apply m-0 p-0
  }

  .container {
    @apply m-1 p-1
  }

  .option{
    @apply col-span-9 shadow-md p-1 px-4 mr-0 text-sm bg-white text-slate-700 rounded-xl border-2 border-transparent hover:border-blue-700
  }
  .correct-option{
    @apply col-span-9 shadow-md p-1 px-4 mr-0 text-sm bg-green-100 text-green-700 rounded-xl border-2 border-transparent hover:border-green-700 animate-stretch
  }
  .selected-option{
    @apply col-span-9 shadow-md p-1 px-4 mr-0 text-sm bg-blue-100 text-blue-700 rounded-xl border-2 border-blue-500 hover:border-blue-700 animate-stretch
  }

  .invalid-question, .invalid-quiz {
    @apply bg-red-50 p-1 my-2 rounded-2xl  border-red-200 border-4 animate-stretch
  }

  .valid-question, .valid-quiz{
    @apply bg-slate-100 p-1 m-2 rounded-2xl border-4
  }

  .show-question{
    @apply bg-white p-1 m-2 rounded-2xl shadow-lg w-full h-auto
  }

 .main-question {
  @apply backdrop-blur-lg bg-white/70 p-1 px-2 sticky bottom-0 border-t-4 animate-appear
 }

  .pill{
    @apply flex align-middle items-center m-1 rounded-full px-3.5 py-1.5 text-xs font-semibold text-center
  }

  .remove-button{
    @apply col-span-1 p-3 text-center rounded-full  text-sm text-red-500 border-2 hover:border-white hover:bg-red-500 hover:text-white
  }

 .question-list {
  @apply col-span-1 h-12 w-12 bg-green-200 px-3 py-3 m-1 border-4 border-transparent text-center rounded-full font-bold hover:bg-blue-200 cursor-pointer
 }

 .pill-button {
  @apply pill bg-black/5 text-center border cursor-pointer hover:border-blue-600 hover:bg-white text-black/70 hover:text-blue-600
 }

 .quiz-card {
  @apply bg-white p-1 m-2 rounded-2xl shadow-md min-w-max
 }

 .create-quiz-button{
  @apply bg-indigo-600 rounded-full font-bold fixed bottom-4 right-4 z-[2] text-white py-1.5 px-3 cursor-pointer
 }
  
}
